body {

  background: rgb(237, 235, 240);
}

.todolist{
  text-align: center;
  background: rgb(237, 235, 240);
}

.botonesNav button{

  padding: 10px;
  margin: 0px 3px;
  border-radius: 3px;

}

header{
  margin-left: 20px;
  margin-bottom: 20px;

}

.todoContainer{
  background: rgb(237, 235, 240);
  display: grid;
  margin-left: 35px;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
}

.todoCar{
width: 75%;
height: 75%;
transition: 0.3s;
border-radius: 6px;
display: grid;
grid-template-columns: minmax(1rem);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
}

.todoCar:hover{
  transform: translateY(-5px);
}

.todoActions .Complete{
  color: #fff;
  background-color: chartreuse;
  padding:  10px 10px;
  font-size: none;
  border: 1px solid #c6d57e;
  border-radius: 10px;
}

.todoActions .Reset{
  color: #fff;
  background-color: rgb(245, 9, 9);
  padding:  10px 10px;
  font-size: none;
  border: 1px solid #c6d57e;
  border-radius: 10px;
}
